@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(0, 0%, 0%);
    --skeleton: hsl(0, 0%, 90%);
    --border: hsl(220, 20%, 90%);
    --btn-border: hsl(214deg, 31.8%, 91.4%);
    --input: hsl(220, 20%, 90%);
    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(222, 94%, 5%);
    --foreground: hsl(0, 0%, 100%);
    --skeleton: hsl(218, 36%, 16%);
    --border: hsl(220, 20%, 90%);
    --btn-border: hsl(217deg, 32.6%, 17.5%);
    --input: hsl(219, 63%, 16%);
    --radius: 0.5rem;
  }

  body {
    @apply bg-dark-base text-slate-200 font-sans antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-slate-900/40 backdrop-blur-md border border-white/10 shadow-xl;
  }
}

@layer components {
  .g-button {
    @apply rounded-[var(--radius)] border;
    border-color: var(--btn-border);
  }
}